*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}


/* Buttons */
#button-container svg {
    height: 25px;
    width: 25px;
    filter: invert(100%);
    fill-opacity: 0.8;
}

#play-song-btn {
    background-color: transparent;
    border: none;
}

#play-song-btn svg {
    filter: invert(100%);
    fill-opacity: 0.8;
}

svg:active {
    transform: scale(0.8);
}

#button-container button {
    background-color: transparent;
    border: none;
}

#container {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-image: url("./cover/album-cover.jpg");
    background-size: cover;
}

#blur {
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #4c474791;
    backdrop-filter: blur(5px);
}

aside {
    height: 100%;
    min-width: 335px;
    background-color: rgba(33, 32, 32, 0.74);
}

#song-info-container {
    text-align: center;
    margin-top: -15px;
}

#song-info-container p {
    color:rgba(245, 245, 245, 0.705);
}

#center-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    width: 300px;
    background-color: rgba(33, 32, 32, 0.74);
    border-radius: 10px;
}

#current-song-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    border: 3px solid rgba(245, 245, 245, 0.705);
    overflow: hidden;
}

#current-song-img-container img {
    width: auto;
    height: 250px;
}

#current-song-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 75%;
    float: right;
}

#button-container {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
}

#current-song-title {
    font-size: 20px;
    font-weight: bold;
}

[aria-current="true"] div p {
    color: goldenrod;
}

/* Sidebar */
#sidebar-image-container {
    border: 3px solid rgba(245, 245, 245, 0.705);
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    overflow: hidden;
}

#sidebar-image-container img {
    height: 300px;
    width: auto;
}

#album-title {
    text-align: center;
    margin: 10px auto;
    color:rgba(245, 245, 245, 0.705);
}

#playlist-container {
    width: 100%;
    height: 60%;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.song-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto 5px auto;
    width: 300px;
    height: 70px;
    border-top: 2px solid rgb(47, 45, 45);
    border-bottom: 2px solid rgb(47, 45, 45);
}

.song-container p {
    margin-left: 10px;
    color:rgba(245, 245, 245, 0.705);
}

.song-container button {
    margin-right: 10px;
}

#song-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 90%;
}

#playlist-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#song-artist {
    font-size: 12px;
}

/* audio progress bar */
#audio-progress {
    -webkit-appearance: none;
    margin-top: -10px;
    width: 80%;
    height: 2px;
    border: none;
    color: white;
}

#audio-progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    transform: scale(0.5);
    background: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#audio-progress::-webkit-slider-thumb:active {
    transform: scale(1.2);
}